@page "/Admin/Courses/Create"
@using Entities
@using Common.Utilities
@layout AdminLayout
@inject IAdminCourseService Service
@inject NavigationManager NavigationManager
@inject IAdminUserService UserService

@if (_users is null)
{
    <DisplaySpinner/>
}
else
{
    <EditForm Model="@_course" OnValidSubmit="@Submit">
        <DataAnnotationsValidator/>
        <ValidationSummary class="text-error"/>
        <div class="card w-1/2">
            <div class="card-body">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">@(ModelExtensions.ToDisplay<CourseDto>(c => c.Title))</span>
                    </label>
                    <InputText id="title" class="input input-bordered" @bind-Value="_course!.Title"></InputText>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">@(ModelExtensions.ToDisplay<CourseDto>(c => c.Price))</span>
                    </label>
                    <InputNumber id="price" class="input input-bordered" @bind-Value="_course!.Price"></InputNumber>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">@(ModelExtensions.ToDisplay<CourseDto>(c => c.Status))</span>
                    </label>
                    <InputSelect id="status" class="input input-bordered" @bind-Value="_course!.Status">
                        @foreach (var value in Enum.GetValues<CourseStatus>())
                        {
                            <option value="@value">@value.ToDisplay()</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">@(ModelExtensions.ToDisplay<CourseDto>(c => c.UserId))</span>
                    </label>
                    <InputSelect id="userId" class="input input-bordered" @bind-Value="_course!.UserId">
                        @foreach (var user in _users)
                        {
                            <option value="@user.Id">@user.FullName (@user.UserName)</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">توضیحات</span>
                    </label>
                    <InputTextArea id="description" class="input input-bordered" @bind-Value="_course!.Description"></InputTextArea>
                </div>
                <button class="btn btn-outline" type="submit">ثبت</button>
            </div>
        </div>
    </EditForm>
}

@code {
    private readonly CourseDto _course = new();
    private IEnumerable<UserResDto>? _users;

    protected override async Task OnInitializedAsync()
    {
        _users = await UserService.Get();
    }

    private async void Submit()
    {
        var response = await Service.Create(_course);
        if (response is not null) NavigationManager.NavigateTo("/Admin/Courses");
    }

}