@page "/Packages/{Id:int}/Edit"
@layout AdminLayout
@inject IAdminService<Package, PackageDto, PackageResDto> Service
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal


@if (_package is null || IsLoading)
{
    <DisplaySpinner/>
}
else
{
    <EditForm Model="@_package" OnValidSubmit="@Submit">
        <DataAnnotationsValidator/>
        <ValidationSummary class="text-error"/>

        <div class="card w-1/2">
            <div class="card-body">
                <div class="form-control">
                    <label for="title" class="label">
                        <span class="label-text">@(ModelExtensions.ToDisplay<PackageDto>(p => p.Title))</span>
                    </label>
                    <InputText id="title" class="input input-bordered" @bind-Value="_package.Title"></InputText>
                </div>
                <div class="form-control">
                    <label for="price" class="label">
                        <span class="label-text">@(ModelExtensions.ToDisplay<PackageDto>(p => p.Price))</span>
                    </label>
                    <InputNumber id="price" class="input input-bordered" @bind-Value="_package.Price"></InputNumber>
                </div>
                <div class="form-control">
                    <label for="description" class="label">
                        <span class="label-text">@(ModelExtensions.ToDisplay<PackageDto>(p => p.Description))</span>
                    </label>
                    <InputTextArea id="description" class="textarea textarea-bordered" @bindbind-Value="@_package.Description"></InputTextArea>
                </div>
                <button type="submit" class="btn btn-outline">ثبت</button>
            </div>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public bool IsLoading { get; set; } = false;

    private PackageDto _package = new();

    protected override async Task OnInitializedAsync()
    {
        var package = await Service.Get(Id);
        if(package is null) return;
        _package = new PackageDto()
        {
            Id = package.Id,
            Description = package.Description,
            Price = package.Price,
            Title = package.Title
        };
    }

    private async Task Submit()
    {
        IsLoading = true;
        var response = await Service.Update(Id, _package);
        if (response is null) return;
        await Swal.FireAsync("موقیت", "آیتم با موفیت ثبت شد", "success");
        NavigationManager.NavigateTo("/Admin/Packages");
    }

}