@page "/Admin/Packages"
@using System.Net.Http.Headers
@layout AdminLayout
@inject IAdminPackageService Service
@inject SweetAlertService Swal

@if (Packages is null || IsLoading)
{
    <DisplaySpinner/>
}
else
{
    <div class="overflow-x-auto px-12">
        <a href="/Admin/Packages/Create" class="btn btn-outline mb-10">
            <span>
                <PlusIcon class="h-5 w-5"/>
            </span>
            <span>ایجاد</span>
        </a>
        <table class="table">
            <!-- head -->
            <thead>
            <tr>
                <th>@(ModelExtensions.ToDisplay<PackageResDto>(s => s.Title))</th>
                <th>@(ModelExtensions.ToDisplay<PackageResDto>(s => s.Price))</th>
                <th>@(ModelExtensions.ToDisplay<PackageResDto>(s => s.Description))</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var package in Packages)
            {
                <tr>
                    <PackageItem OnDelete="@(async (args) => await Delete(args))" Package="@package"/>
                </tr>
            }
            </tbody>

        </table>
    </div>
}
@code {

    [Parameter]
    public bool IsLoading { get; set; } = false;
    
    private List<PackageResDto>? Packages { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Packages = await Service.Get();
    }
    
    private async Task Delete(PackageResDto package)
    {
        await Swal.FireAsync("موفیت", "آیتم با موفقیت حذف شد", "success");
        Packages!.Remove(package);
    }

}