@page "/"
@inherits IndexBase


<section class="hero min-h-screen" style="background-image: url(images/background.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <img src="images/logo-white.png" alt="logo">
            <h1 class="mt-10 text-5xl font-bold">باشگاه مشتریان الماس</h1>
            <p class="py-6">تحت نظارت هلدینگ جامع ایران مرسین</p>
        </div>
    </div>
</section>

<section class="flex justify-evenly px-52 py-14 bg-base-200">
    <a href="Insurers" class="btn btn-outline w-24 h-24">
        <UserGroupIcon class="w-10 h-10"></UserGroupIcon>
        بیمه
    </a>
    <a href="/Courses" class="btn btn-outline w-24 h-24">
        <AcademicCapIcon class="w-10 h-10"></AcademicCapIcon>
        آموزش
    </a>
    <a href="/Shops" class="btn btn-outline w-24 h-24">
        <WrenchIcon class="w-10 h-10"></WrenchIcon>
        خدمات
    </a>
    <a href="/Shops" class="btn btn-outline w-24 h-24">
        <GiftIcon class="w-10 h-10"></GiftIcon>
        محصولات
    </a>
</section>

<section>
    <div class="text-center py-20 ">
        <h2 class="text-2xl font-bold">رویداد ها</h2>
    </div>
    <Carousel/>
</section>
<section>
    <div class="text-center py-20 ">
        <h2 class="text-2xl font-bold">پکیح ها</h2>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        @if (Packages is null)
        {
            <DisplaySpinner/>
        }
        else
        {
            @foreach (var package in Packages)
            {
                <div class="card lg:w-96 bg-base-100 shadow-xl image-full">
                    <figure>
                        <img src="@package.Image" alt="Insurers"/>
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">@package.Title</h2>
                        <p>@package.Description</p>
                        <div class="card-actions justify-end">
                            <a href="Insurers/@package.Id" class="btn btn-primary">بیشتر</a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</section>

<section class="mb-10 px-10">
    @if (Insurers is null)
    {
        <DisplaySpinner/>
    }
    else if(Insurers.Count > 0)
    {
        <div class="text-center py-20 ">
            <h2 class="text-2xl font-bold">بیمه ها</h2>
        </div>
        <div class="m-auto grid grid-cols-1 lg:grid-cols-3 gap-3">
            @foreach (var insurer in Insurers)
            {
                <div class="card lg:w-96 bg-base-100 shadow-xl image-full">
                    @if (!string.IsNullOrEmpty(insurer.Image))
                    {
                        <figure>
                            <img src="@insurer.Image" alt="Insurers"/>
                        </figure>
                    }
                    <div class="card-body">
                        <h2 class="card-title">@insurer.Title</h2>
                        <p>@insurer.Description</p>
                        <div class="card-actions justify-end">
                            <a href="Insurers/@insurer.Id" class="btn btn-primary">بیشتر</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</section>
<hr>
<section class="px-10">
    @if (Shops is null)
    {
        <DisplaySpinner/>
    }
    else
    {
        <div class="text-center py-20 ">
            <h2 class="text-2xl font-bold">برترین فروشگاه ها</h2>
        </div>
        <div class="m-auto grid grid-cols-1 lg:grid-cols-3 gap-3">
            @foreach (var shop in Shops)
            {
                <ShopItem Shop="shop"/>
            }
        </div>
    }
</section>