@page "/Admin/Shops/{Id:int}/Edit"
@layout AdminLayout
@inject NavigationManager NavigationManager
@inject IAdminUserService UserService
@inject SweetAlertService Swal

@if (Model is null || _users is null)
{
    <DisplaySpinner/>
}
else
{
    <EditForm Model="@_shop" OnValidSubmit="@Submit">
        <DataAnnotationsValidator />
        <ValidationSummary class="text-error" />
        <div class="card w-1/2">
            <div class="card-body">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">@(ModelExtensions.ToDisplay<ShopDto>(s => s.Title))</span>
                    </label>
                    <InputText id="title" class="input input-bordered" @bind-Value="_shop!.Title"></InputText>
                    
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">@(ModelExtensions.ToDisplay<ShopDto>(c => c.UserId))</span>
                    </label>
                    <InputSelect id="userId" class="input input-bordered" @bind-Value="_shop!.UserId">
                        @foreach (var user in _users)
                        {
                            <option value="@user.Id">@user.FullName (@user.UserName)</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">@(ModelExtensions.ToDisplay<ShopDto>(s => s.Description))</span>
                    </label>
                    <InputTextArea id="description" class="textarea textarea-bordered" @bind-Value="_shop!.Description"></InputTextArea>
                </div>
                <button class="btn btn-outline" type="submit">ثبت</button>
            </div>
        </div>
    </EditForm>
}

@code {
    ShopDto? _shop;

    [Parameter]
    public int Id { get; set; }
    
    private ShopResDto? Model { get; set; }
    private IEnumerable<UserResDto>? _users;

    [Inject]
    private IAdminShopService Service { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        _users = await UserService.Get();
        Model = await Service.Get(Id);
        if (Model is not null)
        {
            _shop = new ShopDto()
            {
                Description = Model.Description,
                Title = Model.Title,
                UserId = Model.UserId,
                Id = Model.Id,
            };
        }
    }
    private async void Submit()
    {
        Model = null;
        if (_shop is null) return;
        var response = await Service.Update(_shop.Id,_shop);
        if (response is null) return;
        await Swal.FireAsync("موقیت", "آیتم با موفیت ثبت شد", "success");
        NavigationManager.NavigateTo("/Admin/Shops");
    }

    
}